@import '../../node_modules/antd/dist/antd.less';

@primary-color: #1976d2;
@layout-header-background: white;
@layout-header-height: 72px;
@menu-dark-color: #1976d2;
@menu-item-font-size: 18px;
@layout-body-background: #f3faff;
